<div class="root">
  <div class="background"></div>
  <div class="content">
    <div class="my-card">
      <div class="row">
        <div class="col-6 front-img"></div>
        <div class="col-6 user-form">
          <div class="p-5">
            <div class="text-center">
              <img class="logo" [routerLink]="['/']" src="assets/images/gift-box.svg" />
              <img class="title" [routerLink]="['/']" src="assets/images/logo-text.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>