<div class="root">
  <div class="background"></div>
  <div class="content">
    <div class="my-card">
      <div class="row">
        <div class="col-6 front-img"></div>
        <div class="col-6 user-form">
          <div class="p-5">
            <div class="section-back">
              <img class="back-img" src="/assets/images/back.svg" alt="" />
              <span class="back-text">Back to Products</span>
            </div>
            <p>Breadcrum</p>
            <h1 class="product-title">Pokemon Pokedex</h1>
            <h2 class="product-price">$22.99</h2>
            <p class="product-description">
              uisque egestas diam in arcu cursus euismod quis viverra. Risus
              pretium quam vulputate dignissim suspendisse in est ante.
              Facilisis sed odio morbi quis commodo odio aenean sed adipiscing.
              Neque aliquam vestibulum morbi blandit cursus risus at.
            </p>
            <div>Appt acart butto View crt button</div>
            <div>Checkout</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
