<div class="parent">
  <div class="category">
    All Products
    <!-- TODO - Add tooltip -->
    <img *ngIf="activeCategory!==''" (click)="resetCategory()" class="category-icon" data-toggle="tooltip" data-placement="right"  title="Show all categories" src="/assets/images/x-circle.svg" alt="">
  </div>
  <app-product-card
    class="product-card"
    *ngFor="let item of productList"
    [productId]="item.productId"
    [productName]="item.productName"
    [productPrice]="item.productPrice"
    [productImageUrl]="item.productImageUrl"
    [productDescription]="item.productDescription"
    [productStatus]="item.productStatus"
    [productQuantity]="item.productQuantity"
    (addToCartEvent)="addToCart($event)"
  ></app-product-card>
</div>
