<nav class="navbar navbar-expand-sm bg-light navbar-light py-3 sticky-top">
  <a class="navbar-brand" href="#">
    <img class="brand-logo" src="assets/images/gift-box.svg" />
  </a>
  <ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item px-2">
      <input type="text" class="search-hover" name="" placeholder="search here...">
  </li> -->
    <li class="nav-item px-2">
      <input type="text" class="search-hover" name="" placeholder="Search..." />
    </li>
    <li class="nav-item px-2" *ngFor="let item of activeTabs">
      <a class="nav-link" [routerLink]="[item.link]" > {{item.name}} </a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" *ngIf="isLoggedIn" (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>
