nav {
  padding: 0 54px;
  /* background: red !important; */
}

.brand-logo {
  height: 60px;
  width: auto;
  transform: scale(2.1);
  transition: 0.1s;
}

.brand-logo:hover {
  transform: scale(2.3);
}

.navbar-nav {
  font-weight: bold;
  font-size: x-large;
}

.navbar-nav:hover {
  font-weight: bold;
  font-size: x-large;
}

.navbar-nav li a {
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  line-height:2em;
  
}

.navbar-nav li a:hover{
  /* transform: scale(1.3); */ 
  border-bottom: 2px solid black;
}


/* 
px - Spacing in nav items
py-3 - Increases height
ml-auto - Align right
*/
