<nav class="navbar navbar-expand-sm bg-light navbar-light py-3 sticky-top">
  <a class="navbar-brand" href="#">
    <img class="brand-logo" src="assets/images/logo-4.png" />
  </a>
  <ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item px-2">
      <input type="text" class="search-hover" name="" placeholder="search here...">
  </li> -->
    <li class="nav-item px-2">
      <input type="text" class="search-hover" name="" placeholder="Search..." />
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" href="#">Sign In</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" href="#">Cart</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link" href="#">My Purchase</a>
    </li>
    <li class="nav-item px-2">
      <a class="nav-link">Log Out</a>
    </li>
  </ul>
</nav>
